body {
  background-color: #1c1c1c;
  color: #f4f4f4;
  font-family: 'Hind', sans-serif;
  font-size: 2.25vw;
}

h1 {
  font-size: 4.5vw;
  margin: 3.5vh 0 1.5vh 0;
}

@media screen and (min-width: 900px) {
  body {
     font-size: 1.25vw;
  }

  h1 {
    font-size: 3.5vw;
  }
}

#header {
  height: 70vh;
  width: 100%;
}

#header_text {
  width: 97.5vw;
  margin: auto;
  margin-top: 30vh;
}

#header_title {
  font-size: 16vw;
}

#header_subtitle {
  font-size: 2.5vw;
  margin-top: -3.5vw;
  margin-left: 1vw;
}

#content {

}

.section {
  background-color: #fafafa;
  color: #3c3c3c;
  width: 100%;
  padding: 1vh 0 5vh 0;
}

.section_text {
  width: 97.5vw;
  margin: auto;
}

#footer {
  height: 30vh;
  text-align: center;
  padding: 10vh;
}

#footer_copyright {
  font-size: 1.1vw;
}
