html {
  background-color: #0f0f0f;
  background-image: url(../img/tanker_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #f4f4f4;
  font-family: 'Hind', sans-serif;
  font-size: 2.25vw;
}

p {
  margin: 1.25vh 0;
}

h1 {
  font-variant: all-small-caps;	
  font-size: 4.5vw;
  margin: 3.5vh 0 1.5vh 0;
}

@media screen and (min-width: 900px) {
  body {
     font-size: 1.5vw;
  }

  h1 {
    font-size: 3.5vw;
  }
}

#header {
  height: 70vh;
  width: 100%;
}

#header_content {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#header_text {
  width: 97.5vw;
  margin: auto;
  margin-top: 30vh;
}

#header_title {
  font-size: 16vw;
}

#header_subtitle {
  font-size: 2.5vw;
  margin-top: -3.5vw;
  margin-left: 1vw;
}

#content {
  font-weight: 100;
}

#content_nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 2vw;
  font-weight: 100;
  font-variant: all-small-caps;	
  background-color: #1b1b1b;
}

#content_nav a {
  text-decoration: underline;
  color: #f4f4f4;
}

#content_nav div {
  display: inline-block;
  margin: 1vh 1vw;
}

.section {
  background-color: #fafafa;
  color: #3c3c3c;
  width: 100%;
  padding: 1vh 0 5vh 0;
}

.section_text {
  width: 96vw;
  margin: auto;
}

#footer {
  background-color: #0f0f0f;
  height: 100vh;
  text-align: center;
  padding: 10vh;
}

#footer_copyright {
  font-size: 1.1vw;
}
