html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0f0f;
  color: #f4f4f4;
  font-family: 'Hind', sans-serif;
  font-size: 2.4 w;
  background-image: url(../img/tanker_bg.jpg);
  background-repeat: no-repeat;
  background-position: top; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  margin: 1.25vh 0;
}

h1 {
  font-variant: all-small-caps;	
  font-size: 4.5vw;
  margin: 3.5vh 0 1.5vh 0;
}

h2 {
  font-variant: all-small-caps;	
  font-size: 3.5vw;
  margin: 2.5vh 0 1.5vh 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -11vw;
  visibility: hidden;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 4vw;
  padding: 5vw;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

#header_link {
  text-decoration: none;
  color: #f4f4f4;
}

#header_title {
  display: inline-block;
  font-size: 4vw; 
}

.header_background {
  background-color: rgba(28 ,46 ,53 , 0.975);
}

#header_content {

}

#header_text {

}

#header_subtitle {

}

#header_nav {  
  display: inline-block;
  margin-left: 2vw;
}

#header_nav a {
  text-decoration: underline;
  color: #f4f4f4;
}

#header_nav div {
  display: inline;
  margin: 1vh 2vw;
}

#content {
  font-weight: 100;
  width: 100%;
  line-height: 150%;
}

#content_intro {
  height: 55vh;
  width: 100%;
  font-size: 16vw;
  line-height: 4vw;
}

#intro_text {
  margin: 45vh auto 0 auto;
  width: 50vw;
  font-size: 5vw;
  font-weight: bold;
}

.section {
  background-color: #fafafa;
  color: #3c3c3c;
  width: 100%;
  padding: 1vh 0 5vh 0;
}

.section_text {
  width: 90vw;
  margin: auto;
}

#pipeline_diagram {
  width: 95%;
  margin: auto;
  text-align: center;
}

#pipeline_diagram_img {
  max-width:100%;
  max-height:100%;
}

#section-raph {
  /*background-color: #486e7f;*/
  background-color: rgba(72, 110, 127, 0.85);
  color: #ffffff;
}

#raph_photo {
  width: 85vw;
  margin: 2vh 0 2vh 0;
}

#raph_photo img {
  width: 100%;
}

#footer {
  background-color: #0f0f0f;
  height: 100vh;
  text-align: center;
  padding: 10vh;
}

#footer_copyright {
  font-size: 3vw;
}

@media screen and (min-width:720px) {
  body {
     font-size: 1.75vw;
  }

  h1 {
    font-size: 3.5vw;
    margin: 6vh 0 3vh 0;
  }

  h2 {
    font-size: 3vw;
  }

  a.anchor {
    top: -1.5vw;
  }

  #header {
    padding: 1.5vw;
    font-size: 1.75vw;
  }

  #header_title {
    font-size: 2vw;
  }

  .section_text {
    width: 70vw;
  }

  #raph_photo {
    width: 20vw;
    height: 20vw;
    float: right;
    margin: 2vh 2vw;
    overflow: hidden;
    border-radius: 50%;
    border: 0.75vw solid #476e7f;
  }

  #raph_photo img {
    margin-left: -35%;
    height: 100%;
    width: auto;
  }

  .float_break {
    clear: both;
  }

  #footer_copyright {
    font-size: 1.35vw;
  }
}

@media screen and (min-width: 1100px) {
  body {
     font-size: 1.35vw;
  }

  h1 {
    font-size: 2.5vw;
  }

  h2 {
    font-size: 2vw;
  }

  #header {
    padding: 1vw;
    font-size: 1.25vw;
  }

  #header_title {
    font-size: 1.5vw;
  }

  #footer_copyright {
    font-size: 0.85vw;
  }
}
