html {

}

body {
  background-color: #0f0f0f;
  color: #f4f4f4;
  font-family: 'Hind', sans-serif;
  font-size: 2.25vw;
  background-image: url(../img/tanker_bg.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  margin: 1.25vh 0;
}

h1 {
  font-variant: all-small-caps;	
  font-size: 4.5vw;
  margin: 3.5vh 0 1.5vh 0;
}

@media screen and (min-width: 900px) {
  body {
     font-size: 1.25vw;
  }

  h1 {
    font-size: 3.5vw;
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.25vw;
  padding: 1.5vw;
}

#header_content {

}

#header_text {

}

#header_title {
  display: inline-block;
  width: 15vw;
  font-size: 2vw;
}

#header_subtitle {

}

#header_nav {  
  display: inline-block;
}

#header_nav a {
  text-decoration: underline;
  color: #f4f4f4;
}

#header_nav div {
  display: inline;
  margin: 1vh 1vw;
}

#content {
  font-weight: 100;
}

#content_intro {
  height: 100vh;
  width: 100vw;
  font-size: 16vw;
}

#intro_text {
  margin: 40vh auto 0 auto;
  width: 50vw;
  font-size: 5vw;
  font-weight: bold;
}

.section {
  background-color: #fafafa;
  color: #3c3c3c;
  width: 100%;
  padding: 1vh 0 5vh 0;
}

.section_text {
  width: 96vw;
  margin: auto;
}

#footer {
  background-color: #0f0f0f;
  height: 100vh;
  text-align: center;
  padding: 10vh;
}

#footer_copyright {
  font-size: 1.1vw;
}
