{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>muskegg.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'web/css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/css/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'web/scripts/jquery-colors.min.js' %}"></script>
</head>
<body>
  {% block content %}
    <!-- content block --> 
  {% endblock %}

  <div id="footer">
    <div id="footer_text">
	{{ footer_text }}
    </div>
    <div id="footer_copyright">&copy;{% now 'Y' %} Raphael Lanouette</div>
  </div>
  <script src="{% static 'web/scripts/main.js' %}"></script>
</body>
</html>

