{% extends "web/base.html" %}
{% load paragraphs %} 
{% load static %}
{% block content %}
  <div id="header">
    <div id="header_content">
      <div id="header_title"><a id="header_link" href="#top">muskeg.dev</a></div>
      <div id="header_nav">
        <div><a href="#pipeline">pipeline</a></div>
        <div><a href="#raph">me</a></div>
        <div><a href="#projects">projects</a></div>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="content_intro">
      <div id="intro_text">online CV, demo, &nbsp;&nbsp;portfolio and other &nbsp;&nbsp;&nbsp;collections</div>
    </div>     
    <div class="section" id="section-website">
      <a class="anchor" name="pipeline"></a>
      <a class="anchor" name="projects"></a>
      <div class="section_text">
        <h1>{{ section_pipeline_title }}</h1>
        <div id="pipeline_intro" class="content_text">
          {{ section_pipeline_intro|paragraphs|safe }}
        </div>
        <h2>{{ section_pipeline_subtitle }}</h2>
        <div id="pipeline_diagram">
          <img id="pipeline_diagram_img" src="{% static 'web/img/pipeline-diagram.png' %}" />
        </div>
        <div id="pipeline_pipeline" class="content_text">
          {{ section_pipeline_pipeline|paragraphs|safe }}
        </div>
        <h2>{{ section_pipeline_app_title }}</h2>
        <div id="pipeline_app" class="content_text">
          {{ section_pipeline_app|paragraphs|safe }}
        </div>
        <h2>{{ section_pipeline_jenkins_title }}</h2>
        <div id="pipeline_jenkins" class="content_text">
          {{ section_pipeline_jenkins|paragraphs|safe }}
        </div>
        <h2>{{ section_pipeline_deploy_title }}</h2>
        <div id="pipeline_deploy" class="content_text">
          {{ section_pipeline_deploy|paragraphs|safe }}
        </div>
      </div>
    </div>
    <div class="section" id="section-raph">  
      <a class="anchor" name="raph"></a>
      <div class="section_text">
        <h1>{{ section_raph_muskeg_title }}</h1>
        <div id="raph_muskeg" class="content_text">
          {{ section_raph_muskeg|paragraphs|safe }}
        </div>
        <h2>{{ section_raph_title }}</h2>
        <div id="raph_intro" class="content_text">
          <div id="raph_photo">
            <img id="raph_photo_img" src="{% static 'web/img/picture-rlanouet.jpg' %}" />
          </div>
          <div id="raph_intro_text">
            {{ section_raph_intro|paragraphs|safe }}
          </div>
        </div>
        <div class="float_break"></div>
      </div>
    </div>
  </div>
{% endblock %}
