{% extends "web/base.html" %}
{% load paragraphs %} 

{% block content %}
  <div id="fixed_background">&nbsp;</div>
  <div id="header">
    <div id="header_content">
      <div id="header_text">
        <div id="header_title">muskegg.com</div>
        <div id="header_subtitle">an online CV and portfolio </div>
      </div>
    </div>
  </div>
  <div id="content">      
    <div id="content_nav">
      <div><a href="#pipeline">pipeline</a></div>
      <div><a href="#raph">me</a></div>
      <div><a href="#projects">projects</a></div>
    </div>
    <div class="section" id="section-website">
      <div class="section_text">
        <h1>{{ section_title }}</h1>
        <p>{{ section_text|paragraphs|safe }}</p>
      </div>
    </div>
  </div>
{% endblock %}
