{% extends "web/base.html" %}
{% load paragraphs %} 

{% block content %}
  <div id="header">
    <div id="header_content">
      <div id="header_title"><a id="header_link" href="#top">muskegg.com</a></div>
      <div id="header_nav">
        <div><a href="#pipeline">pipeline</a></div>
        <div><a href="#raph">me</a></div>
        <div><a href="#projects">projects</a></div>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="content_intro">
      <div id="intro_text">online CV, demo, portfolio and other collections</div>
    </div>     
    <div class="section" id="section-website">
      <a class="anchor" name="pipeline"></a>
      <a class="anchor" name="raph"></a>
      <a class="anchor" name="projects"></a>
      <div class="section_text">
        <h1>{{ section_title }}</h1>
        <p>{{ section_text|paragraphs|safe }}</p>
      </div>
    </div>
  </div>
{% endblock %}
